body{
	background:#e6e6e6;
}
button{
	background-color: #1baeb5;
	font-family: broadway;
	text-align: center;
	margin: 70px;
	height: 100px;
	width: 200px;
	float: center;
	border:10px dotted;
	border-color: #179f3a;
	display: block;
}